@import url("https://fonts.cdnfonts.com/css/nbp-sydnie2-scoreboard");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}


.container {
  text-align: center;
  margin-top: 100px;
}

#parent {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: url("./img/campoBaloncesto.jpg");
  width: 100vh;
  height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#div1 {
  grid-area: 10 / 3 / 43 / 10;
}
#div2 {
  grid-area: 11 / 10 / 42 / 12;
}
#div3 {
  grid-area: 12 / 12 / 41 / 14;
}
#div4 {
  grid-area: 14 / 14 / 39 / 15;
}
#div5 {
  grid-area: 15 / 15 / 38 / 16;
}
#div6 {
  grid-area: 17 / 16 / 36 / 17;
}
#div7 {
  grid-area: 20 / 17 / 33 / 18;
}
#div8 {
  grid-area: 5 / 3 / 9 / 49;
}
#div9 {
  grid-area: 9 / 18 / 44 / 26;
}
#div10 {
  grid-area: 9 / 26 / 44 / 34;
}
#div11 {
  grid-area: 11 / 40 / 42 / 42;
}
#div12 {
  grid-area: 12 / 38 / 41 / 40;
}
#div13 {
  grid-area: 14 / 37 / 39 / 38;
}
#div14 {
  grid-area: 17 / 35 / 36 / 36;
}
#div15 {
  grid-area: 20 / 34 / 33 / 35;
}
#div16 {
  grid-area: 43 / 34 / 44 / 41;
}
#div17 {
  grid-area: 42 / 34 / 43 / 41;
}
#div18 {
  grid-area: 41 / 34 / 42 / 40;
}
#div19 {
  grid-area: 39 / 34 / 41 / 38;
}
#div20 {
  grid-area: 38 / 34 / 39 / 37;
}
#div21 {
  grid-area: 37 / 34 / 38 / 36;
}
#div22 {
  grid-area: 36 / 34 / 37 / 36;
}
#div23 {
  grid-area: 33 / 34 / 36 / 35;
}
#div24 {
  grid-area: 43 / 10 / 44 / 18;
}
#div25 {
  grid-area: 42 / 11 / 43 / 18;
}
#div26 {
  grid-area: 42 / 10 / 43 / 11;
}
#div27 {
  grid-area: 41 / 12 / 42 / 18;
}
#div28 {
  grid-area: 40 / 14 / 41 / 18;
}
#div29 {
  grid-area: 39 / 14 / 40 / 18;
}
#div30 {
  grid-area: 38 / 15 / 39 / 18;
}
#div31 {
  grid-area: 37 / 16 / 38 / 18;
}
#div32 {
  grid-area: 36 / 16 / 37 / 18;
}
#div33 {
  grid-area: 33 / 17 / 36 / 18;
}
#div34 {
  grid-area: 9 / 3 / 10 / 9;
}
#div35 {
  grid-area: 10 / 10 / 11 / 11;
}
#div36 {
  grid-area: 17 / 17 / 20 / 18;
}
#div37 {
  grid-area: 16 / 16 / 17 / 18;
}
#div38 {
  grid-area: 15 / 16 / 16 / 18;
}
#div39 {
  grid-area: 14 / 15 / 15 / 18;
}
#div40 {
  grid-area: 13 / 14 / 14 / 18;
}
#div41 {
  grid-area: 12 / 14 / 13 / 18;
}
#div42 {
  grid-area: 11 / 12 / 12 / 18;
}
#div43 {
  grid-area: 10 / 11 / 11 / 18;
}
#div44 {
  grid-area: 9 / 10 / 10 / 18;
}
#div45 {
  grid-area: 44 / 3 / 48 / 49;
}
#div46 {
  grid-area: 10 / 42 / 44 / 49;
}
#div47 {
  grid-area: 10 / 41 / 11 / 42;
}
#div48 {
  grid-area: 16 / 36 / 38 / 37;
}
#div49 {
  grid-area: 9 / 41 / 10 / 42;
}
#div50 {
  grid-area: 9 / 40 / 11 / 41;
}
#div51 {
  grid-area: 9 / 39 / 12 / 40;
}
#div52 {
  grid-area: 9 / 38 / 12 / 39;
}
#div53 {
  grid-area: 9 / 37 / 14 / 38;
}
#div54 {
  grid-area: 9 / 36 / 15 / 37;
}
#div55 {
  grid-area: 9 / 35 / 17 / 36;
}
#div56 {
  grid-area: 9 / 34 / 20 / 35;
}

.marcadorTabla {
  border: 1px solid black;
}

#temporizador {
  position: relative;
  z-index: 9999;
  top: -45px;
  font-family: "NBP Sydnie2 Scoreboard";
  color: black;
  font-weight: bold;
  font-size: 40px;
}

.versus {
  z-index: 1;
}
.VS {
  position: absolute;
  top: 500px;
}

#equipo_local {
  background-color: #4caf50;
  border-radius: 20px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

#tiro_libre {
  background-color: gainsboro;
  border-radius: 20px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

#equipo_visitante {
  background-color: red;
  border-radius: 20px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

#iniciar_tiempo{
  background-color: blue;
  border-radius: 20px;
  color: black;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-right: 20px;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  height: 100px;
  background-color: #ffffff;
  border: 2px solid #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 10px;
  background-color: gray;
}

.team {
  margin: 10%;

  font-family: "Scoreboard";
}

.textTeam {
  padding-top: 20px;
}

.versus {
  width: 30%;
  height: 90%;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  border-top: 50px solid RED;
}

#score-a {
  font-family: "NBP Sydnie2 Scoreboard";
  color: yellow;
  font-size: 100px;
  padding-bottom: 10px;
}

#score-b {
  color: yellow;
  font-size: 100px;
  font-family: "NBP Sydnie2 Scoreboard";
  padding-bottom: 10px;
}
